.title{
    p{
        color: white;
        font-size: 20px;
        padding: 10px;
        background-color: #000000ad;
        margin: 0;
    }
}

.input{
    padding: 30px;
    border: 1px solid #0e0e0e38;
    margin-bottom: 20px;
}

.BangDS{
    padding: 15px;
    border: 1px solid #0e0e0e38 ;
}

.bgTR{
    background-color: #a2a4c936;
}